.EditTreeWrapper {
    background-color: var(--bg-white);
    padding: 24px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }
}

.btnWrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: right;

    @media (max-width: 768px) {
        justify-content: center;
        margin-top: auto;
    }
}

.title {
    margin-bottom: 12px;
}

.field {
    margin-bottom: 24px;
}
